@import './reset';
@import './variable';


body{
    background-color: $primary-color;
    color:$white-color;
}
.main{
    width:80%;
    margin:0 auto ;
    //nesting
    & .paragarph{
        font-weight:map-get($font-weights,bold);
        &:hover{
            color:rgb(218, 96, 96);
        }
    }
}
